# Set composer folder for this command and update
container_commands:
   02_create_dir_logs:
    command: 'mkdir -p ./storage/logs/'
    leader_only: false
   03_permissions_logs:
    command: 'chmod -R 777 ./storage/logs/'
    leader_only: false
files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
          * * * * * ec2-user /home/ec2-user/cron.sh > /dev/null 2>&1
commands:
   remove_old_cron:
      command: "rm -f /etc/cron.d/mycron.bak"

